<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TextToMe | Simpe chat</title>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/chat.css">
    </head>
</head>
<body>
    <section class="chatWindow">
        <div class="wrapper">
            <div class="chatBlock">

                {% for message in messages %}

                <div class="messageBubble">
                    <h1 class="messageBubbleAuthor">{{ message['author'] }}</h1>
                    <h1 class="messageBubbleContent"> {{ message['text'] }} </h1>
                </div>

                {% endfor %}
                
            </div>
        </div>
    </section>

    <section class="messageWindow">
        <div class="wrapper">
            <div class="messageBlock">
                <div class="messageForm">
                    <input type="text" class="messageText">
                    <button class="messageSend"></button>
                </div>
            </div>
        </div>
    </section>

</body>
</html>